@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,500;1,900&display=swap');
/*Fonts that was imported;
- barlow */

body {
    font-family: Arial, Helvetica, sans-serif;
}

div {
    background-color: lightblue;
    padding: 10px;
    margin: 20px;
    border: 1px solid black;
    
}

a {
    color: black;
    font-size: 30px;
    font-weight: bold;
    text-transform: capitalize;
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 10px;
}

h1 {
    text-align: center;
    font-size: 50px;
    font-family: barlow;
}